@model IEnumerable<StackOverflowClone.Models.Client>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Username</td>
            <td>Email</td>
            <td>About Me</td>
            <td>Password</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@item.AboutMe</td>
                    <td>@item.Password</td>
                </tr>
            }
    </tbody>
</table>
