@model StackOverflowClone.Models.Client
@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="login-container">
        <h2>Log in to Your Account</h2>
        <hr/>
        @Html.ValidationSummary("", new {@class="text-danger"})
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
         
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
          
        </div>
        <br/>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary">Log In</button>
        </div>
        <div>
            Don’t have an account? 
            @Html.ActionLink("SignUp", "SignUp", "Account", new { area = "" }, new { @class = "text-primary text-decoration-none" })
        </div>
    </div>
}
