
@model StackOverflowClone.Models.VM.QueWClient
@{
    ViewBag.Title = Model.Question.Id;
}


<div class="row pb-4">
    <div class="col-md-7">
        <h4>@Model.Question.Title</h4>
        
    </div>
    <div class="col-md-5 text-end">
        @Html.ActionLink("Ask Question", "AskQuestion", "Question", new { @class = "btn btn-primary" })
    </div>
</div>
<hr/>
<div class="row pt-2">
    <div>
        <p>@Model.Question.Body</p>
        <p>@Model.Question.ExpectResult</p>
        <small>
            @{
                char[] delimiterChars = { ' ', ',', ';' };
                string[] mytag = Model.Question.Tags.Split(delimiterChars, StringSplitOptions.RemoveEmptyEntries);
                foreach (var i in mytag)
                {
                    <span style="color:#0a9eb2;padding:2px 3px;background-color:#91d4dd;border-radius:5px;font-size:10px;">@i</span>
                }
            }
        </small>
    </div>
    @*<div class="text-end"><span>@Model.Client.Username.ToString()</span></div>*@
</div>
