@model StackOverflowClone.Models.Client

@{
    ViewBag.Title = "DeleteUser";
}


<h3>Are you sure you want to delete this user?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutMe)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" /> 
            @Html.ActionLink("Cancel", "Users", "Admin", new {@class="btn btn-outline-secondary"})
        </div>
    }
</div>
